* {
  box-sizing: border-box;
}

@font-face{
  font-family: 'Encode';
  src:url("../fonts/encode/EncodeSansExpanded-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Encode';
  src:url("../fonts/encode/EncodeSansExpanded-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Roboto';
  src:url("../fonts/roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


.container{
  width: 1200px;
  margin: 0 auto;
  color: #3D3D3D;
}

body a{
  font-weight: 400;
  font-family: 'Encode';
  font-size: 16px;
  color: #3D3D3D;
  line-height: 20px;  
}


.header-container{
  display: flex;
  padding: 30px 0 12px 0;
  justify-content: space-between;
}

.header-list > li > a:hover{
  color: #1A712A;
}

.header-list > li:hover{
  border-bottom: 1px solid green;
}

.header-list{
  display: flex;
  gap: 47px;
}

.header-list > li{
  position: relative;
}

.header-list > li > .list{
  background-color: #EDF6EE;
  min-width: 188px;
  position: absolute;
  top: 100%;
	right: -75%;
  display: none;
}

.header-list > li > .list > li > .list_2{
  background-color: #EDF6EE;
  min-width: 188px;
  position: absolute;
  top: 75%;
	right: 100%;
  display: none;
}

.header-list > li:hover > .list {
  display: block;
}

.header-list > li > .list > li:hover > .list_2{
  display: block;
}



.header-list > li > .list > li > a, .header-list > li > .list > li > .list_2 > li > a{
  padding: 8px 0 8px 14px;
  display: block;
}

.header-list > li > .list > li{
  
}

.header-list > li > .list > li > a:hover, .header-list > li > .list > li > .list_2 > li > a:hover{
  background-color: #1A712A;
  color: white;
  font-weight: 700;
}



.header-container a{
  text-decoration: none;
}


.header-btn
{
  color: white;
  background-color: #46A358;
  padding: 8px 15px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  width: 100px;
  text-align: center;
}

/*MAIN STYLES*/

.main{
  display: flex;
}

.main_title {
  padding: 80px 0 80px 43px;
}
.main_small_title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.main_big_title {
  margin-top: 14px;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.main_title p{
  font-size: 14px;
  color: #727272;
  line-height: 24px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 44px;
}

.main_title span{
  color: #46A358  ;
}

.main_btn {
  text-decoration: none;
  color: white;
  background-color: #46A358 ;
  padding: 10px 26px;
  text-align: center;
  border-radius: 6px;
  font-weight: 700;
}

.main_btn:hover{
  background-color: aqua;
}

.main_img {
}